.left{
    top:11%;
    position: sticky;
    width: 20%;
    height: auto;
    float: left;
    overflow: auto;
}
.right{
    float: left;
    width: 80%;
    height:90vh;
    
}
li:nth-child(1)
{
    background-color: red;
}
li{
    border-radius: 20px;
    padding:2px 0px 0px 20px ;
    height: 30px;
    margin:5px 0px 5px 0px;
    background-color: skyblue;
}
